<!DOCTYPE html>
<html lang="id" class="h-full antialiased">
<head>
    <%- include('partials/head') %>
</head>
<body class="min-h-full flex flex-col bg-background text-on-background font-sans">
    <%- include('partials/header') %>
    
    <main class="flex-grow">
        <%- body %>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
